include mixins/all
extends layouts/template

block vars
  -title = 'Filtering Control'
block container
  main#main.main
    .container
      .row
        .col-sm-3.filter-component  
          // Filter panel
          +link("Refine")(data-popover-trigger='filter-control', data-expand-handle, data-target="#filtering-controls").btn.btn-primary.btn-block.btn-refine.filters-applied
            span.num-filters 3
            | Filters have been applied
          include blocks/popover-filter-control

          include blocks/filtering-controls
        .col-sm-9
          //- include blocks/card-container
          // This space is to simulate the filter cards on the right side
