extends layouts/sitemap

block container
  +rowTitle('Template')
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Layer',
    link: 'template-layer.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Sprite',
    link: 'template-sprite.html',
    status: 'Building structure',
    complete: '100%',
    startDate: '17/04/2015',
    endDate: '17/04/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'Y',
    developer: 'Oanh.Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Style Guide',
    link: 'template-style-guide.html',
    status: 'Building structure',
    complete: '0%',
    startDate: '17/04/2015',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Hai.Thoi, Soa.Nguyen, Philip',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 1,
    psd: 'Homepage.psd',
    link: 'index.html',
    status: 'Building structure',
    complete: '70%',
    startDate: '20/04/2015',
    endDate: 'dd/04/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: '',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'task',
    comment: 'Primary Specialty',
    status: 'Cutting template',
    complete: '100%',
    startDate: '20/04/2015',
    endDate: '23/04/2015',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'Y',
    developer: 'Hai.Thoi',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'task',
    comment: 'Secondary Specialties',
    status: 'Done',
    complete: '100%',
    startDate: '20/04/2015',
    endDate: '21/04/2015',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'N',
    developer: 'Soa.Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'task',
    comment: 'Key Reasons Block',
    status: 'Done',
    complete: '100%',
    startDate: '20/04/2015',
    endDate: '21/04/2015',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'N',
    developer: 'Soa.Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 2,
    psd: 'Footer',
    link: 'index.html',
    psd: 'Footer',
    cmp: 'Yes',
    status: 'Done',
    complete: '100%',
    startDate: '20/04/2015',
    endDate: '20/04/2015',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'N',
    developer: 'Quang Le',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 3,
    psd: 'Promo Banner',
    link: 'promo-banner.html',
    cmp: 'Yes',
    status: 'Done',
    complete: '100%',
    startDate: '20/04/2015',
    endDate: '22/04/2015',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'N',
    developer: 'Philip',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 4,
    psd: 'Action Links',
    link: 'action-link.html',
    cmp: 'Yes',
    status: 'Done',
    complete: '100%',
    startDate: '21/04/2015',
    endDate: '22/04/2015',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'N',
    developer: 'Philip',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 5,
    psd: 'Search Input Field',
    link: 'search-field.html',
    cmp: 'Yes',
    status: 'Done',
    complete: '100%',
    startDate: '21/04/2015',
    endDate: '22/04/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Oanh Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 6,
    psd: 'Phone Number',
    link: 'phone-number.html',
    cmp: 'Yes',
    status: 'Done',
    complete: '100%',
    startDate: '22/04/2015',
    endDate: 'dd/mm/yyyy',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'N',
    developer: 'Soa.Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 7,
    psd: 'Component container',
    link: 'container.html',
    cmp: 'Yes',
    status: 'Done',
    complete: '100%',
    startDate: '22/04/2015',
    endDate: '22/04/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Chinh.Phan',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 8,
    psd: 'Table of content',
    link: 'table-of-content.html',
    cmp: 'Yes',
    status: 'Done',
    complete: '100%',
    startDate: '22/04/2015',
    endDate: '22/04/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'Y',
    developer: 'Yen.Phan',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 8,
    psd: 'WYSIWYG',
    link: 'wysiwyg.html',
    cmp: 'Yes',
    status: 'Done',
    complete: '100%',
    startDate: '22/04/2015',
    endDate: 'dd/mm/yyyy',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'N',
    developer: 'Hai.Thoi',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 9,
    psd: 'Page header',
    link: 'page-header.html',
    cmp: 'Yes',
    status: 'Done',
    complete: '100%',
    startDate: '22/04/2015',
    endDate: '23/04/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Philip',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 10,
    psd: 'Global Header',
    link: 'header.html',
    cmp: 'Yes',
    status: 'Done',
    complete: '100%',
    startDate: '21/04/2015',
    endDate: '28/04/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Quang Le',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 11,
    psd: 'Filtering controls',
    link: 'filtering-controls.html',
    cmp: 'Yes',
    status: 'Done',
    complete: '90%',
    startDate: '23/04/2015',
    endDate: '',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Nhat Hoang, Soa Nguyen',
    checkedBy: 'Leader name'
  })

  +rowContent({
    class: 'template',
    no: 12,
    psd: 'Testimonials',
    link: 'testimonials.html',
    cmp: 'Yes',
    status: 'Done',
    complete: '100%',
    startDate: '23/04/2015',
    endDate: '24/04/2015',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'N',
    developer: 'Quang Le',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 13,
    psd: 'Event.psd',
    cmp: 'Yes',
    link: 'event-registration.html',
    status: 'Done',
    complete: '100%',
    startDate: '23/4/2015',
    endDate: '27/4/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Oanh.Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 13.1,
    psd: 'textfield Component',
    cmp: 'Yes',
    link: 'textfield.html',
    status: 'Done',
    complete: '100%',
    startDate: '28/4/2015',
    endDate: '28/4/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Oanh.Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 13.2,
    psd: 'Email phone component',
    cmp: 'Yes',
    link: 'email.html',
    status: 'Done',
    complete: '100%',
    startDate: '28/4/2015',
    endDate: '28/4/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Oanh.Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 13.3,
    psd: 'Interested Component',
    cmp: 'Yes',
    link: 'checkbox.html',
    status: 'Done',
    complete: '100%',
    startDate: '28/4/2015',
    endDate: '28/4/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Oanh.Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 13.4,
    psd: 'Dropdown component',
    cmp: 'Yes',
    link: 'dropdown-component.html',
    status: 'Done',
    complete: '100%',
    startDate: '28/4/2015',
    endDate: '28/4/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Oanh.Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 13.4,
    psd: 'Event.psd',
    cmp: 'Yes',
    link: 'information.html',
    status: 'Done',
    complete: '100%',
    startDate: '28/4/2015',
    endDate: '28/4/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Oanh.Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 14,
    psd: 'content-carousel.psd',
    link: 'content-carousel.html',
    cmp: 'Yes',
    status: 'Done',
    complete: '100%',
    startDate: '24/04/2015',
    endDate: '27/04/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Philip',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 15,
    psd: 'Result-card.psd',
    link: 'result-card.html',
    status: 'Building structure',
    complete: '90%',
    startDate: '24/04/2015',
    endDate: '25/04/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'Y',
    developer: 'Yen.Phan',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 16,
    psd: 'Tabs.psd',
    link: 'tabbed-container.html',
    cmp: 'Yes',
    status: 'Done',
    complete: '100%',
    startDate: '24/04/2015',
    endDate: '27/04/2015',
    checklist: 'Y',
    unitTest: 'N',
    perfTest: 'Y',
    codeReview: 'N',
    developer: 'Soa.Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 17,
    psd: 'Static link list',
    link: 'static-link-list.html',
    cmp: 'Yes',
    status: 'Cutting template',
    complete: '100%',
    startDate: '27/04/2015',
    endDate: '28/04/2015',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'Y',
    developer: 'Hai.Thoi',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 18,
    psd: 'BOQS_Homepage.psd',
    link: 'homepage-speciality.html',
    cmp: 'Yes',
    status: 'Done',
    complete: '100%',
    startDate: '27/04/2015',
    endDate: '27/04/2015',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'N',
    developer: 'Soa.Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 19,
    psd: 'BOQS_Homepage.psd',
    link: 'text-image.html',
    cmp: 'Yes',
    status: 'Done',
    complete: '100%',
    startDate: '27/04/2015',
    endDate: '27/04/2015',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'N',
    developer: 'Soa.Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 20,
    psd: 'No',
    link: 'expandable-content-area.html',
    cmp: 'Yes',
    status: 'Done',
    complete: '100%',
    startDate: '4/05/2015',
    endDate: '4/05/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Oanh.Nguyen',
    checkedBy: 'Leader name'
    })
  +rowContent({
    class: 'template',
    no: 21,
    psd: 'BOQS_Search.psd',
    link: 'search.html',
    cmp: 'No',
    status: 'Done',
    complete: '100%',
    startDate: '5/05/2015',
    endDate: '5/05/2015',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'Y',
    developer: 'Oanh.Nguyen, Hai.Thoi',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 21.1,
    psd: 'BOQS_Search.psd',
    link: 'search-result.html',
    cmp: 'No',
    status: 'Done',
    complete: '100%',
    startDate: '5/05/2015',
    endDate: '5/05/2015',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'Y',
    developer: 'Oanh.Nguyen, Hai.Thoi',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'task',
    comment: 'Search result container',
    cmp: 'Yes',
    status: 'Done',
    complete: '100%',
    startDate: '5/05/2015',
    endDate: '5/05/2015',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'Y',
    developer: 'Hai.Thoi',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'task',
    comment: 'search-field',
    cmp: 'Yes',
    status: 'Done',
    complete: '',
    startDate: '5/05/2015',
    endDate: '5/05/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Oanh.Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'task',
    comment: 'pagination',
    cmp: 'Yes',
    status: 'Done',
    complete: '',
    startDate: '5/05/2015',
    endDate: '5/05/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Oanh.Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 22,
    psd: 'BOQS_Homeloan.psd',
    link: 'home-loans.html',
    cmp: 'No',
    status: 'Done',
    complete: '100%',
    startDate: '6/05/2015',
    endDate: '6/05/2015',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'Y',
    developer: 'Oanh.Nguyen, Hai.Thoi',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 23,
    psd: 'BOQS_Medical.psd',
    link: 'medical.html',
    cmp: 'No',
    status: 'Waiting JS',
    complete: '90%',
    startDate: '8/05/2015',
    endDate: '11/05/2015',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'Y',
    developer: 'Oanh.Nguyen, Hai.Thoi',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 24,
    psd: 'photo-gallery.psd',
    link: 'photo-gallery.html',
    cmp: 'Yes',
    status: 'Waiting JS',
    complete: '95%',
    startDate: '11/05/2015',
    endDate: '13/05/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Philip',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 25,
    psd: 'Social-Sharing.psd',
    link: 'social-sharing.html',
    cmp: 'Yes',
    status: 'Done',
    complete: '100%',
    startDate: '11/05/2015',
    endDate: '11/05/2015',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'N',
    developer: 'Soa Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 26,
    psd: 'Contact_form_lightbox_prefilled.psd',
    link: 'contact-form.html',
    cmp: 'Yes',
    status: 'Cutting template',
    complete: '90%',
    startDate: '14/05/2015',
    endDate: '15/05/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Oanh Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 27,
    psd: 'Landing page.psd',
    link: 'landing-page.html',
    cmp: 'No',
    status: 'Done',
    complete: '100%',
    startDate: '12/05/2015',
    endDate: '14/05/2015',
    checklist: 'Y',
    unitTest: 'Y',
    perfTest: 'Y',
    codeReview: 'N',
    developer: 'Soa.Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 28,
    psd: 'panel.psd',
    link: 'panel.html',
    cmp: 'Yes',
    status: '',
    complete: '100%',
    startDate: '18/05/2015',
    endDate: '20/05/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Philip',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 29,
    psd: 'event_details.psd',
    link: 'event-details.html',
    cmp: 'Yes',
    status: '',
    complete: '80%',
    startDate: '21/05/2015',
    endDate: '21/05/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Philip',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 30,
    psd: 'Events_6_col.psd',
    link: 'event-calendar-condensed.html',
    cmp: 'Yes',
    status: '',
    complete: '90%',
    startDate: '22/05/2015',
    endDate: '22/05/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Soa.Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 31,
    psd: 'Filterable.psd',
    link: 'filterable.html',
    cmp: 'Yes',
    status: '',
    complete: '60%',
    startDate: '22/05/2015',
    endDate: '25/05/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Philip',
    checkedBy: 'Leader name'
  })

  +rowContent({
    class: 'template',
    no: 32,
    psd: 'No',
    link: 'video-player.html',
    cmp: 'Yes',
    status: '',
    complete: '0%',
    startDate: 'N/A',
    endDate: 'N/A',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Khoi Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 32,
    psd: 'Card_Containers_12col.psd',
    link: 'card-container.html',
    cmp: 'Yes',
    status: 'NO JS',
    complete: '80%',
    startDate: 'N/A',
    endDate: 'N/A',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Quang Le',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 32,
    psd: 'Event_calendar.psd',
    link: 'event-calendar.html',
    cmp: 'Yes',
    status: 'NO JS, NO TEST DEVICE',
    complete: '80%',
    startDate: 'N/A',
    endDate: 'N/A',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'Y',
    codeReview: 'N',
    developer: 'Quang Le',
    checkedBy: 'Leader name'
  })
