extends layouts/layout

block vars
  -title = 'Table Of Content'
block container
  main#main.main
    .container
      .row
        .col-md-6
          ol.counter-list
            li
              +link("Introduction")
              ol
                li
                  +link("Heading 1")
                  ol
                    li
                      +link("Heading 2")
                    li
                      +link("Heading 3")
                li
                  +link("Heading 1")
                  ol
                    li
                      +link("Heading 2")
                    li
                      +link("Heading 3")
        .col-md-6
          ol.circle-list
            li
              +link("Introduction")
              ul
                li
                  +link("One dot one")
                  ul
                    li
                      +link("One dot one dot one")
                    li
                      +link("One dot one dot two")
                li
                  +link("One dot two")
                  ul
                    li
                      +link("One dot one dot one")
                    li
                      +link("One dot one dot two")
      .row
        h2.dont-show-in-toc Atque, perferendis.
        h3  Officia, neque.
      .row
        .col-md-6
          h1  Unde, eligendi!
        h2  Qui, aut!
      h3  Hic, consequatur.
      .row
        h2  Magnam, dolores!
        h1  Commodi, rerum.

      br
      br
      br
      br
      br
      br
      hr
      br
      br
      br
      br

      br
      br
      br
      br
      br
      br
      hr
      br
      br
      br
      br

      .row
        .col-md-6
          .table-of-content(data-table-content, data-toc-type="counter")

