@font-face {
  font-family: fontawesome;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/fontawesome-webfont.eot);
  src: url(../fonts/fontawesome-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff) format("woff"), url(../fonts/fontawesome-webfont.ttf) format("truetype"), url(../fonts/fontawesome-webfont.svg#fontawesome) format("svg");
}

@font-face {
  font-family: Gotham-Book;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Gotham-Book.eot);
  src: url(../fonts/Gotham-Book.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham-Book.woff) format("woff"), url(../fonts/Gotham-Book.otf) format("truetype"), url(../fonts/Gotham-Book.svg#Gotham-Book) format("svg");
}

@font-face {
  font-family: Gotham-Bold;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Gotham-Bold.eot);
  src: url(../fonts/Gotham-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham-Bold.woff) format("woff"), url(../fonts/Gotham-Bold.otf) format("truetype"), url(../fonts/Gotham-Bold.svg#Gotham-Bold) format("svg");
}

@font-face {
  font-family: Gotham-Italic;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Gotham-Italic.eot);
  src: url(../fonts/Gotham-Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham-Italic.woff) format("woff"), url(../fonts/Gotham-Italic.otf) format("truetype"), url(../fonts/Gotham-Italic.svg#Gotham-Italic) format("svg");
}