ul.link-list(data-mobile-top="")
  li
    +link ("Request Callback").btn.btn-default.btn-lg.btn-block.btn-left
      span.icon.icon-contact
      | Request Callback
  li
    +link ("Find a Specialist").btn.btn-default.btn-lg.btn-block.btn-left
      span.icon.icon-find
      | Find a Specialist
  li
    +link ("Browse Offers").btn.btn-default.btn-lg.btn-block.btn-left
      span.icon.icon-offers
      | Browse Offers
  li
    +link ("Find Events").btn.btn-default.btn-lg.btn-block.btn-left
      span.icon.icon-events
      | Find Events
