.block.button-items
    h2.block-heading We can also help you with:
    ul.row.row-ib.row-ib-left.items
      li.col-xs-12.col-sm-6: +link("Bank accounts").btn.btn-default.btn-xl.btn-block
      li.col-xs-12.col-sm-6: +link("Credit cards").btn.btn-default.btn-xl.btn-block
      li.col-xs-12.col-sm-6: +link("Special offers").btn.btn-default.btn-xl.btn-block
      li.col-xs-12.col-sm-6: +link("Events").btn.btn-default.btn-xl.btn-block
