.card.col-xs-12.col-sm-6.col-md-4
  +link("").card-inner(data-item)
    .card-thumb
      img(src="{{imgSrc}}", alt="{{title}}").img-responsive
    h2.card-heading {{title}}
    .card-body {{{descriptionHtml}}}
