.card.zero-result.col-xs-12.col-sm-6.hidden
  .card-inner
    .card-body.wysiwyg
      span.icon.icon-no-gold.icon-xlarge
      p We couldn’t find any results matching your filters

      .clear-btn
        +btn-icon({typebtn: "reset", nam: "btn-reset", title: "Clear all filters", icon: "icon icon-bin"}).btn-reset-filters.title Clear all filters
