.content.zero-result
  span.icon.icon-no-gold.icon-xlarge
  p.desc
    | We could not find any events matching your filters
  +link("Clear all filters", "javascript:;").btn.btn-default.clear-all
    span.icon.icon-bin(aria-hidden="true")
    | Clear all filters
