.content.load-more
  +upload-img("icon-load-more.png")
  p.desc
    | There are <span class="num">5</span> more <span class="result">events</span> matching your filters 
  +link("Load more events", "javascript:;").btn.btn-default.load-more
    | Load more events
