.content-carousel
  .slider.fade(data-carousel="")
    div
      .image
        +link("carousel")
          +img("carousel1.png","carousel")
    div
      .image
        +link("carousel")
          +img("carousel2.png","carousel")
    div
      .image
        +link("carousel")
          +img("carousel1.png","carousel")
    div
      .image
        +link("carousel")
          +img("carousel2.png","carousel")
    div
      .image
        +link("carousel")
          +img("carousel1.png","carousel")
  .control
