.content.no-more-result
  p.desc
    | No more results matching your filters
  +link("Back to top", "javascript:;").btn.btn-default.back-top
    span.icon.icon-caret-up.icon-medium(aria-hidden="true")
    | Back to top
