+form-group-1({id: "full-name", text: "Full Name:", required: "wi-icon icon-required", placeholder: "Enter your first and last name", error: "wrap-error", classIcon: "wi-icon icon-close-2", textError: "Please enter a valid full name",attr:{"data-required":""}})
