.block.key-reasons
  .wysiwygcomp
    h2.block-heading Why BOQ Specialist?
    p BOQ Specialist has been providing specialist banking services to clients in niche market segments for over 20 years. We aim to build lasting partnerships with our clients through focus, experience and dedication.
  - var i = 1
  include text-image
  - var i = 2
  include text-image
  - var i = 3
  include text-image
  - var i = 4
  include text-image
