nav.text-center
  //- ul.pagination
  //-   li: +link("Prev", "javascript:void(0);")(data-load-paging="prev")
  //-     i.wi-icon.icon-arrow(aria-hidden="true")
  //-     span Prev
  //-   li.active: +link("1", "javascript:void(0);")(data-load-paging="1")
  //-   li: +link("2", "javascript:void(0);")(data-load-paging="2")
  //-   li.dot ...
  //-   li: +link("3", "javascript:void(0);")(data-load-paging="3")
  //-   li: +link("Next", "javascript:void(0);")(data-load-paging="next")
  //-     span Next
  //-     i.wi-icon.icon-arrow(aria-hidden="true")
