h3: span.h3 Home Loan features at a glance
ul
  li
    span.tick-list
      b Sum sociis natoque penatibus et magnis dis
      | nascetur ridiculus mus. Nam fermentum, nulla luctus phare tranulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien.
  li
    span.tick-list
      b Sum sociis natoque penatibus et magnis dis
      | nascetur ridiculus mus. Nam fermentum, nulla luctus phare tranulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien.
  li
    span.tick-list
      b Sum sociis natoque penatibus et magnis dis
      | nascetur ridiculus mus. Nam fermentum, nulla luctus phare tranulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien.
