h2 Not quite what you were looking for?
p At BOQ Specialist we pride ourselves on our flexibility – if you can’t find exactly what you’re looking for, try one of these options for getting in touch to see if we can help you.
include phone-number-1
.row
  .col-sm-6
    +link("Send us an enquiry").btn.btn-default.pull-right
      span Send us an enquiry
      span.wi-icon.icon-arrow(aria-hidden="true")
  .col-sm-6
    +link("Find a Specialist").btn.btn-default.pull-left
      span Find a Specialist
      span.wi-icon.icon-arrow(aria-hidden="true")
