.row.text-center 
  +img("event-1.png","event")
h2 Not quite what you were looking for?
p At BOQ Specialist we pride ourselves on our flexibility – if you can’t find exactly what you’re looking for, try one of these options for getting in touch to see if we can help you.

.row.text-center
  +link("Event photo galleries").btn.btn-default
    span Event photo galleries
    span.wi-icon.icon-arrow(aria-hidden="true")
