+form-group-1({id: "phone", text: "Phone Number:",placeholder: "e.g. 0291234567 or 0431234567", error: "wrap-error", classIcon: "wi-icon icon-close-2", textError: "Please enter a valid phone",attr:{"data-required":"", "data-number": ""}})
