.card-item
  +tab({id: "expand-card-1", title1: "Home Loans", title2: "Home loans", text1: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra just commodo fermentum.", text2: "More details", text3: "Home buyers guide"})
