.ribbon-block(data-ribbon)
  .ribbon-header
    .container
      h2.block-heading We specialise in:
  .ribbon-body
    .container
      .row.row-nogutter.row-ib.row-ib-left(data-sameheight)
        +ribbon-item("Doctors and specialists", "svg/badge-doctors.svg")
        +ribbon-item("Dental professionals","svg/badge-dentists.svg")
        +ribbon-item("Veterinary professionals", "svg/badge-vets.svg")
        +ribbon-item("Students and graduates", "svg/badge-students.svg")
