.search-result-block#search-result-ajax(data-current-page="1", data-result-count="32", data-number-to-display="10")
  h3.static-title Showing results 1 - 10 of 32
  +result-container-list([
            {src: "icon-document-brown.png", text: " Platinum credit card Platinum credit card Platinum credit card Platinum credit card Platinum credit card Platinum credit card", desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit"},
            {src: "icon-document-brown.png", text: "Platinum credit card", desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elit"},
            {src: "icon-document-brown.png", text: "Platinum credit card", desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit"},
            {src: "icon-document-brown.png", text: "Platinum credit card", desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit"},
            {src: "icon-document-brown.png", text: "Platinum credit card", desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit"},
            {src: "icon-document-brown.png", text: "Platinum credit card", desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit"}]).list-unstyled.static-list

  include pagination