.search-form.center
  +form({action: "#", id: "search-field-form", method: "post"})(data-search).form
    +form-group({id: "search-field", text: "Search the BOQ Specialist website:", icon: "wi-icon-white icon-search", title: "Search", typebtn: "submit", classBtn: "search-btn", placeholder: "Enter search terms", autocomplete: "off", attr: {class: "form-control"}, classHidden: ""})
