.navbar-section.sticky
  //- The markup below is now appended via `section-nav.js`
  //- .container
    //- ul.nav.section-menu
    //-   li: +link("Signature", "#signature-credit-cards").section-menu-link.rollto Signature credit cards
    //-   li: +link("Platinum", "#platinum-credit-cards").section-menu-link.rollto Platinum credit cards
