.static-list-block
  h3.static-title Related Files
  +static-icon-list([
    {src: "icon-document.png", text: "Product Disclosure Statement"},
    {src: "icon-document.png", text: "Terms & Conditions"}]).list-unstyled.static-list
.static-list-block
  h3.static-title Related Pages
  +static-link-list([
    {text: "Buying your first investment property", desc: "Product"},
    {text: "Buying your first investment property", desc: "Guide"}]).list-unstyled.static-list

