.block.testimonial
  .row
    .col-sm-4
      // 3:2 ratio
      img(src="http://lorempixel.com/500/333/people", alt="Dr Sushil Anand").img-responsive
    .col-sm-8
      blockquote
        h5.blockquote-heading Dr Sushil Anand from Allcare Medical Centre in New South Wales
        p “BOQ Specialist went far beyond my expectations in many ways. I’m glad that there is a bank that is in tune with the dynamics of our profession and understand it inside out.”
