.static-list-block
  h3.static-title Popular Articles
  +static-link-list([
    {text: "Online Banking Help", desc: "FAQ"},
    {text: "Budget Planning 101", desc: "TIPS"},
    {text: "Buying your first investment property", desc: "Guide"},
    {text: "Buying your first investment property", desc: "Guide"}]).list-unstyled.static-list
